{
  "basePath":"/consulta-cpf/v1", 
  "paths":{
    "/cpf/{ni}":{
      "get":{
        "x-auth-type":"Bearer",
        "x-throttling-tier":"Unlimited",
        "description":"Retorna os dados do Cadastro de Pessoa Física (CPF)",
        "produces":["application/json"],
        "parameters":[{
          "description":"Número de inscrição no CPF",
          "name":"ni",
          "type":"string",
          "required":true,
          "in":"path"}],
        "responses":{
          "200":{
            "schema":{
              "$ref":"#/definitions/CPF"},
            "description":"Retorna dados do CPF"},
          "400":{
            "description":"O número de CPF informado não é válido."},
          "404":{
            "description":"Não existe CPF com o número de inscrição informado."}}}}},
  "host":"apigateway.serpro.gov.br",
  "security":[{"Bearer": []}],
  "schemes":["https","http"],
  "swagger":"2.0",
  "definitions":{
    "CPF":{
      "properties":{
        "situacao":{
          "$ref":"#/definitions/Situacao"},
        "nome":{"type":"string"},
        "ni":{"type":"string"}},
      "type":"object"},
    "Situacao":{
      "properties":{
        "codigo":{
          "type":"string"},
        "descricao":{
          "type":"string"}},
      "type":"object"}},
  "consumes":["application/json"],
  "securityDefinitions":{
      "Bearer" : {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header" }
    },
  "info":{
    "title":"Consulta CPF",
    "description":"#Consulta CPF\n# API de acesso aos dados do Cadastro Nacional de Pessoa Física, em tempo real, diretamente das bases de Governo. \n#destaque",
    "version":"1"}
}
